  <!--=================================
   preloader -->
   
  <div id="pre-loader">
      <img src="assets/images/pre-loader/loader-14.svg" alt="">
  </div>
  
  <!--=================================
   preloader -->
   
  
   <!--=================================
   header -->
  
  <header id="header" class="header theme-bg">
    <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 xs-mb-10">
          <div class="topbar-call text-center text-md-left">
            <ul>
              <li><i class="fa fa-envelope-o text-white"></i> tmouhamadou16@gmail.com</li>
               <li><i class="fa fa-phone text-white"></i> <span class="theme">+(221) 77-267-60-72</span> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="topbar-social text-center text-md-right">
            <ul>
              <!-- <li><a href="#"><span class="ti-facebook text-white"></span></a></li> -->
              <li><a href="https://www.instagram.com/dame_creation/" class=""><span class=""><img style="height: 30px; width: 30px; border-radius: 10px;" src="assets/images/portfolio/dameCreation/icons/insta6.jpg" alt=""> </span></a></li>
              <li><a href="https://tiktok.com/@thiamdame1"><span class="fa-brands fa-tiktok" aria-hidden="true"><img style="height: 30px; width: 30px; border-radius: 10px;" src="assets/images/portfolio/dameCreation/icons/tiktok11.jpg" alt=""> </span></a></li>
              <!-- <li><a href="#"><span class="fa fa-snapchat-square text-white" aria-hidden="true" ></span></a></li>
              <li><a href="#"><span class="ti-twitter text-white"></span></a></li>
              <li><a href="#"><span class="ti-linkedin text-white"></span></a></li>
              <li><a href="#"><span class="ti-dribbble text-white"></span></a></li>
              <li><a href="#"><span class="fa fa-whatsapp text-white" aria-hidden="true"></span></a></li>
              <i class="fa-brands fa-tiktok"></i> -->
              
            </ul>
          </div>
        </div>
       </div>
    </div>
  </div>
  
  <!--=================================
   mega menu -->
   <div class="menu">  
    <!-- menu start -->
     <nav id="menu" class="mega-menu">
      <!-- menu list items container -->
      <section class="menu-list-items">
       <div class="container"> 
        <div class="row"> 
         <div class="col-lg-12 col-md-12"> 
          <!-- menu logo -->
          <!-- <ul class="menu-logo">
              <li>
                  <a href="index-01.html"><img id="logo_img" src="assets/images/logo01.png" alt="logo"> </a>
              </li>
          </ul> -->
          <!-- menu links -->
         </div>
        </div>
       </div>
      </section>
     </nav>
    <!-- menu end -->
   </div>
  
  </header>
  
  <!--=================================
   header -->
  
  
  <!--=================================
  page-title-->
  
  <section class="page-title bg-overlay-black-40 parallax" data-jarallax='{"speed": 0.6}' style="background-image: url(assets/images/bg/00.gif);">
    <div class="container">
      <div class="row"> 
        <div class="col-lg-12"> 
        <div class="page-title-name">
            <h1>dame loxo wourouss</h1>
            <p>new fashions are coming</p>
          </div>
            <!-- <ul class="page-breadcrumb">
              <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li><a href="#">page</a> <i class="fa fa-angle-double-right"></i></li>
              <li><span>portfolio classic 3 columns fullwidth</span> </li>
         </ul> -->
       </div>
     </div>
    </div>
  </section>
  
  <!--=================================
  page-title -->
  
  
   <!--=================================
   portfolio -->
  
  <section class="white-bg page-section-ptb">
    <div class="container">
      <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
           <div class="isotope-filters">
              <button data-filter="" class="active">All</button>
              <button data-filter=".men">Men</button>
              <button data-filter=".women">Women</button>
              <!-- <button data-filter=".branding">branding</button>
              <button data-filter=".web-design">web-design</button> -->
            </div>
              <div class="isotope columns-3 popup-gallery">
                <div class="grid-item men branding">
                    <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/01M.jpg" alt="">
                       <div class="portfolio-overlay">
                          <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                          <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/01M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                 </div>
                <div class="grid-item men branding">
                 <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/02M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/02M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item ">
                 <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/03C.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/03C.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                  </div>
                  <div class="grid-item ">
                    <div class="portfolio-item">
                        <img src="assets/images/portfolio/dameCreation/50C.jpg" alt="">
                          <div class="portfolio-overlay">
                            <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                            <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                           </div>
                         <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/50C.jpg"><i class="fa fa-arrows-alt"></i></a>
                     </div>
                     </div>
                <div class="grid-item men">
              <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/04M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/04M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item branding men">
                  <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/05M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/05M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                  </div>
                <div class="grid-item branding men">
                 <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/06M.jpg" alt="">
                       <div class="portfolio-overlay">
                          <h4 class="text-white"> <a href="portfolio-single-01.html"> Your title here </a> </h4>
                          <span class="text-white"> <a href="#"> Branding </a> | <a href="#"> Web Design </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/06M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item web-design men">
                <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/07M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/07M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                   </div>
                  <div class="grid-item web-design women">
                   <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/08F.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/08F.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item web-design men">
                 <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/09M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/09M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item web-design men">
                 <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/10M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/10M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item web-design men">
                   <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/11M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/11M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item web-design women">
                     <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/13F.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/13F.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
                </div>
                <div class="grid-item web-design men">
                  <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/38M.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/38M.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
              </div>
              <div class="grid-item web-design women">
                  <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/14F.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/14F.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
              </div>
              <div class="grid-item web-design women">
                  <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/37F.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/37F.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
              </div>
              <div class="grid-item web-design women">
                  <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/20F.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/20F.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
              </div>
              <div class="grid-item web-design women">
                  <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/22F.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/22F.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
              </div>
              <div class="grid-item web-design women">
                  <div class="portfolio-item">
                     <img src="assets/images/portfolio/dameCreation/25F.jpg" alt="">
                       <div class="portfolio-overlay">
                        <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                        <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                        </div>
                      <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/25F.jpg"><i class="fa fa-arrows-alt"></i></a>
                  </div>
              </div>
              <div class="grid-item web-design women">
                <div class="portfolio-item">
                   <img src="assets/images/portfolio/dameCreation/29F.jpg" alt="">
                     <div class="portfolio-overlay">
                      <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                      <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                      </div>
                    <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/29F.jpg"><i class="fa fa-arrows-alt"></i></a>
                </div>
            </div>
            <div class="grid-item web-design women">
              <div class="portfolio-item">
                 <img src="assets/images/portfolio/dameCreation/33F.jpg" alt="">
                   <div class="portfolio-overlay">
                    <h4 class="text-white"> <a href="portfolio-single-01.html"> Dame loxo wourouss </a> </h4>
                    <span class="text-white"> <a href="#"> We work for you  </a> | <a href="#"> Live the beautiful  </a> </span> 
                    </div>
                  <a class="popup portfolio-img" href="assets/images/portfolio/dameCreation/33F.jpg"><i class="fa fa-arrows-alt"></i></a>
              </div>
          </div>
           </div>
         </div>
       </div>
      </div> 
     </section>
  
    <!--=================================
   portfolio -->
   
   
  <!--=================================
  action box- -->
  
  <section class="action-box theme-bg full-width">
    <div class="container">
      <div class="row">
       <div class="col-lg-12 col-md-12">
         <!-- <div class="action-box-text">
          <h3><strong> Webster: </strong> The most powerful template ever on the market</h3>
          <p>Create tailor-cut websites with the exclusive multi-purpose responsive template along with powerful features.</p>
        </div>
        <div class="action-box-button">
          <a class="button button-border white" href="#">
            <span>Purchase Now</span>
            <i class="fa fa-download"></i>
         </a> 
       </div> -->
      </div>
    </div>
   </div>
  </section>
   
  <!--=================================
  action box- -->
   
   
  <!--=================================
   footer -->
   <footer class="footer footer-one-page page-section-pt black-bg">
    <div class="container">
     <div class="row text-center">
      <div class="col-lg-4 col-md-4">
         <div class="contact-add mb-30"> 
          <div class="text-center">
              <i class="ti-map-alt theme-color"></i>
              <h5 class="mt-15">Address</h5>
              <p>OUAKAM EN FACE PHARMACIE MOUSSA</p>
             </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-4">
         <div class="contact-add mb-30"> 
          <div class="text-center">
            <i class="ti-mobile theme-color"></i>
            <h5 class="mt-15">Call Us</h5>
            <p> +(221) 77-267-60-72</p>
           </div>
         </div>
      </div>
      <div class="col-lg-4 col-md-4">
         <div class="contact-add mb-30"> 
           <div class="text-center">
            <i class="ti-email theme-color"></i>
            <h5 class="mt-15">Email Us</h5>
            <p>tmouhamadou16@gmail.com</p>
          </div>
         </div>
      </div>
      </div>
      <div class="footer-widget mt-20">
       <div class="row">
         <div class="col-lg-6 col-md-6">
          <p class="mt-15"> &copy;Couture <span id="copyright"> <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script></span> <a href="#"> DLW </a> Dame Loxo Wourouss </p>
         </div>
         <div class="col-lg-6 col-md-6">
           <div class="social-icons color-hover float-right">
            <ul> 
             <li class="social-facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li class="social-twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li class="social-dribbble"><a href="#"><i class="fa fa-dribbble"></i> </a></li>
             <li class="social-linkedin"><a href="#"><i class="fa fa-linkedin"></i> </a></li>
             <!-- <li class="social-tiktok"><a href="#"><i class="fa fa-tiktok"></i> </a></li> -->
            </ul>
          </div>
         </div>
       </div>    
     </div>
     </div>
   </footer> 
  <!--=================================
   footer -->